@model Kop.Web.Models.LoginModel

@{
    ViewBag.Title = "登入";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <div style="padding: 10px;" class="rounded_box2">
        <h3>登入</h3>
        @Html.ValidationSummary()
        <div class="span-3">@Html.LabelFor(x => x.Name)</div>
        <div class="span-5">@Html.TextBoxFor(x => x.Name)</div>
        <hr class="space" />
        <div class="span-3">@Html.LabelFor(x => x.Password)</div>
        <div class="span-5">@Html.PasswordFor(x => x.Password)</div>
        <hr class="space" />
        <div class="span-3">&nbsp;</div>
        <div class="span-5">
            <input type="submit" value="提交" />
        </div>
    </div>
}
